@charset "UTF-8";
/****** GLOBAL ***********/
.reservation .btn-purple {
  background: linear-gradient(#FF79DA, #9356DC);
}

.steps-list .steps-card, .reservation .btn-purple {
  box-shadow: 1px 4px 6px 0px #b6b5b5;
}

* {
  /* Polices */
  font-family: "Roboto", "sans-serif";
  font-size: 16px;
  /* Reset des marges internes et externes */
  margin: 0px;
  padding: 0px;
  /* Suppression des puces des listes */
  list-style-type: none;
  /* Images */
  -o-object-fit: cover;
     object-fit: cover;
}

/****** BODY / GENERAL ***********/
.main-container {
  min-width: 375px;
  max-width: 1440px;
  margin: auto;
  gap: 30px;
  background-color: #D2D2D2;
}

/****** HEADER ***********/
header * {
  text-align: center;
}

nav {
  background-color: #FFFFFF;
  padding: 15px;
}
nav .title {
  font-family: "Shrikhand", "cursive";
  font-size: 30px;
  font-weight: normal;
  /* j'ai uniquement mis le parametre à modifier)*/
}

.location {
  background-color: #EAEAEA;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 17px;
  /* j'ai uniquement mis le parametre à modifier)*/
}
.location .icon {
  color: black;
}

.reservation {
  background-color: #F6F6F6;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.reservation .title {
  font-family: "Roboto", "sans-serif";
  font-size: 24px;
  font-weight: bold;
}
.reservation p {
  font-family: "Roboto", "sans-serif";
  font-size: 18px;
  font-weight: lighter;
}
.reservation .btn-purple {
  cursor: pointer;
  width: 70%;
  height: 50px;
  border: none;
  border-radius: 25px;
  margin: 30px;
  padding: 0px;
  color: #FFFFFF;
}

/****** MAIN ***********/
.main-content {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: normal;
  gap: 50px;
}

/****** MAIN - STEPS SECTION ***********/
.steps {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: normal;
  gap: 15px;
  padding: 18px;
}
.steps .title {
  font-family: "Roboto", "sans-serif";
  font-size: 24px;
  font-weight: bold;
  margin-top: 15px;
}

.steps-list {
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: normal;
  gap: 0px;
  margin-bottom: 50px;
}
.steps-list .dot {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  cursor: auto;
  background-color: #9356DC;
}
.steps-list .dot .icon-number {
  font-size: 10px;
  color: #FFFFFF;
}
.steps-list .dot-flexbox {
  position: relative;
  top: 50px;
  left: -10px;
}
.steps-list .steps-card {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25px;
  height: 72px;
  border-radius: 25px;
}
.steps-list .steps-card .icon {
  color: #7E7E7E;
  font-size: 20px;
}
.steps-list .steps-card .icon:hover {
  color: #9356DC;
}
.steps-list .steps-card p {
  font-weight: bold;
}

/****** MAIN - RESTAURANTS SECTION ***********/
.restaurants {
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: center;
  gap: 15px;
  padding: 18px;
}
.restaurants .title {
  font-family: "Roboto", "sans-serif";
  font-size: 24px;
  font-weight: bold;
  margin-top: 15px;
}

.restaurants-cards {
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: normal;
  gap: 20px;
  position: relative;
}
.restaurants-cards .label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  cursor: pointer;
  width: 80px;
  height: 29px;
  border: none;
  border-radius: 2px;
  cursor: auto;
  background-color: #99E2D0;
}
.restaurants-cards .label .label-text {
  font-size: 14px;
  color: #008766;
}
.restaurants-cards .label-flexbox {
  position: absolute;
  top: 15px;
  right: 20px;
}
.restaurants-cards .label-flexbox02 {
  position: absolute;
  top: 340px;
  right: 20px;
}
.restaurants-cards .label-flexbox03 {
  position: absolute;
  top: 670px;
  right: 20px;
}
.restaurants-cards .label-flexbox04 {
  position: absolute;
  top: 1000px;
  right: 20px;
}

.cards {
  background-color: #FFFFFF;
  border-radius: 25px;
  gap: 20px;
}

.cards_information {
  padding: 15px;
}

.cards__image {
  height: 231px;
  border-radius: 25px 25px 0px 0px;
}

.cards__title {
  font-size: 18px;
}

.cards__text {
  font-size: 17px;
  font-weight: lighter;
}

/****** Les images ***********/
/* toutes les images(element) ne depasse le cadre pas leur section(block) */
section img {
  width: 100%;
}

/****** Les titres ***********/
.primary-title {
  font-family: "Shrikhand", "cursive";
}

.secondary-title {
  font-family: "Roboto", "sans-serif";
}

/* tous possedent tous la meme police Shrikhand */
.primary-title, h2 {
  font-family: "Shrikhand", cursive;
}

/* sauf les h3 */
.secondary-title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
}

/****** Les boutons ***********/
/* tous sont en gras */
/****** HEADER ***********/
/* tous les elements sont centrés */
/* header (media queries) {
    display: flex;
    flex-direction: column;
    gap: 15px;
} */
.footer__section {
  background-color: #353535;
  color: #FFFFFF;
}

.footer__title {
  font-size: 18px;
  padding: 15px 15px 0px 15px;
  font-weight: normal;
}

.footer__list {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 10px;
}

.footer__list__item {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

footer .title {
  font-family: "Shrikhand", "cursive";
}/*# sourceMappingURL=body.css.map */