/****** UTILS ***********/
body * {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

/****** FONTS ***********/
/****** SHADOWS ***********/
.shadow, .steps-card, .reservation .btn-purple {
  box-shadow: 1px 4px 6px 0px #b6b5b5;
}

body * {
  font-family: "Roboto", "sans-serif";
  font-size: 16px;
  -o-object-fit: cover;
     object-fit: cover;
}

/****** BODY ***********/
.main-container {
  min-width: 375px;
  max-width: 1440px;
  margin: auto;
  gap: 30px;
  background-color: #D2D2D2;
}
.main-container section img {
  width: 100%;
}

/****** Button ***********/
.purple-gradient, .reservation .btn-purple {
  background: linear-gradient(#FF79DA, #9356DC);
}

/****** Labels ***********/
/* TEST */
.orange {
  background-color: orange;
}

/****** FONTS ***********/
/****** COMPONENTS ***********/
/****** HEADER ***********/
header * {
  text-align: center;
}

nav {
  background-color: #FFFFFF;
  padding: 15px;
}
nav .title {
  font-family: "Shrikhand", "cursive";
  font-size: 30px;
  font-weight: normal;
}
nav a {
  text-decoration: none;
  color: black;
}

.location {
  background-color: #EAEAEA;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 17px;
}
.location .icon {
  color: black;
}

.reservation {
  background-color: #F6F6F6;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.reservation .title {
  font-family: "Roboto", "sans-serif";
  font-size: 24px;
  font-weight: bold;
}
.reservation p {
  font-family: "Roboto", "sans-serif";
  font-size: 18px;
  font-weight: lighter;
}
.reservation .btn-purple {
  cursor: pointer;
  width: 70%;
  height: 50px;
  border: none;
  border-radius: 25px;
  margin: 30px;
  padding: 0px;
  color: #FFFFFF;
  /* TEST */
  transition: transform 450ms, background-color 300ms 150ms;
}
.reservation .btn-purple:hover {
  transform: scale(1.13);
  background: orangered;
}

.steps-card {
  position: relative;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25px;
  height: 72px;
  border-radius: 25px;
}
.steps-card .icon {
  color: #7E7E7E;
  font-size: 20px;
}
.steps-card .icon:hover {
  color: #9356DC;
}
.steps-card p {
  font-weight: bold;
}

.cards {
  position: relative;
  background-color: #FFFFFF;
  border-radius: 25px;
  gap: 20px;
}
.cards .cards-image {
  height: 231px;
  border-radius: 25px 25px 0px 0px;
}
.cards .cards-information {
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: none;
  justify-content: center;
  gap: 15px;
  justify-content: space-between;
}
.cards .cards-information .cards-title {
  font-size: 18px;
}
.cards .cards-information .cards-text {
  font-size: 17px;
  font-weight: lighter;
}
.cards .cards-information .heart-button {
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: center;
  gap: normal;
  margin-right: 24px;
}
.cards .cards-information .heart-button i {
  font-size: 22px;
  transition: transform 450ms 150ms;
}
.cards .cards-information .heart-button i:hover, .cards .cards-information .heart-button i:focus {
  background: linear-gradient(#FF79DA, #9356DC);
}
@keyframes like {
  75% {
    transform: scale(1.25);
  }
}
@keyframes dislike {
  75% {
    transform: scale(0.75);
  }
}
.cards .cards-information label i {
  animation: dislike 0.5s ease 0s;
}
.cards .cards-information input:checked + label i {
  animation: like 0.5s ease 0s;
  background: linear-gradient(#FF79DA, #9356DC);
}
.cards .cards-information #liked {
  width: 0px;
  height: 0px;
}

/****** FOOTER ***********/
.footer {
  background-color: #353535;
  color: #FFFFFF;
}
.footer .title {
  font-family: "Shrikhand", "cursive";
  font-size: 18px;
  font-weight: normal;
  padding: 15px 15px 0px 15px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 10px;
}
.footer-list .footer-links a {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: #FFFFFF;
  text-decoration: none;
}

/****** MAIN ***********/
.main-content {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: normal;
  gap: 50px;
}

/****** MAIN - STEPS SECTION ***********/
.steps {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: normal;
  gap: 15px;
  padding: 18px;
}
.steps .title {
  font-family: "Roboto", "sans-serif";
  font-size: 24px;
  font-weight: bold;
  margin-top: 15px;
}

.steps-list {
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: normal;
  gap: 25px;
  margin-bottom: 50px;
}
.steps-list .dot {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  position: absolute;
  top: 25px;
  left: -10px;
  right: none;
  bottom: none;
  cursor: auto;
  background-color: #9356DC;
}
.steps-list .dot .icon-number {
  font-size: 10px;
  color: #FFFFFF;
}

/****** MAIN - RESTAURANTS SECTION ***********/
.restaurants {
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: center;
  gap: 15px;
  padding: 18px;
}
.restaurants .title {
  font-family: "Roboto", "sans-serif";
  font-size: 24px;
  font-weight: bold;
  margin-top: 15px;
}

.restaurants-cards {
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: normal;
  gap: 20px;
  margin-bottom: 50px;
}
.restaurants-cards .label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  cursor: pointer;
  width: 80px;
  height: 29px;
  border: none;
  border-radius: 2px;
  position: absolute;
  top: 15px;
  left: none;
  right: 20px;
  bottom: none;
  cursor: auto;
  background-color: #99E2D0;
}
.restaurants-cards .label .label-text {
  font-size: 14px;
  color: #008766;
}/*# sourceMappingURL=homepage.css.map */