@charset "UTF-8";
/****** UTILS ***********/
body * {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

/****** FONTS ***********/
/****** Button ***********/
.purple-gradient, .btn-purple {
  background: linear-gradient(#FF79DA, #9356DC);
}

/****** Labels ***********/
/****** SHADOWS ***********/
.shadow, .menu-cards .cards, .steps-card, .btn-purple {
  box-shadow: 1px 4px 6px 0px #b6b5b5;
}

body * {
  font-family: "Roboto", "sans-serif";
  font-size: 16px;
  -o-object-fit: cover;
     object-fit: cover;
}

/****** BODY ***********/
.main-container {
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: normal;
  gap: 30px;
  margin: auto;
  background-color: #F6F6F6; /* D2D2D2 */
}
.main-container section img {
  width: 100%;
}

/****** Button ***********/
.purple-gradient, .btn-purple {
  background: linear-gradient(#FF79DA, #9356DC);
}

/****** Labels ***********/
/****** FONTS ***********/
/****** COMPONENTS ***********/
/****** HEADER ***********/
header * {
  text-align: center;
  /****** NAVIGATION ET LOCATION SECTION ***********/
}
header * nav {
  background-color: #FFFFFF;
  padding: 15px;
}
header * nav .title {
  font-family: "Shrikhand", "cursive";
  font-size: 30px;
  font-weight: normal;
}
header * nav a {
  text-decoration: none;
  color: black;
}
header * nav .logo {
  height: auto;
  width: auto;
}
header * .location {
  background-color: #EAEAEA;
  padding: 15px;
}
header * .searchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
header * .searchbar .searchbar-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 0px;
  width: 30px;
}
header * .searchbar .searchbar-input {
  border: 0px;
  background-color: #EAEAEA;
  padding: 5px 0px 5px 15px;
  border-radius: 15px;
  width: 150px;
}
header * .searchbar .searchbar-input::-moz-placeholder {
  font-weight: bold;
  color: black;
  opacity: 1;
  text-align: center;
}
header * .searchbar .searchbar-input::placeholder {
  font-weight: bold;
  color: black;
  opacity: 1;
  text-align: center;
}
header * .searchbar .searchbar-input:focus-visible {
  outline: none;
  background-color: #F6F6F6;
}
header * .searchbar .searchbar-button {
  background-color: #EAEAEA;
  color: #EAEAEA;
  border: none;
}
header * .searchbar .searchbar-button:hover {
  color: #F6F6F6;
}

/****** RESERVATION SECTION ***********/
.reservation {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
}
.reservation .title {
  font-family: "Roboto", "sans-serif";
  font-size: 24px;
  font-weight: bold;
}
.reservation p {
  font-family: "Roboto", "sans-serif";
  font-size: 18px;
  font-weight: lighter;
}
@media (min-width: 1024px) {
  .reservation {
    gap: 18px;
  }
  .reservation .title {
    font-size: 40px;
  }
}

.btn-purple {
  cursor: pointer;
  width: none;
  height: 50px;
  border: none;
  border-radius: 25px;
  color: #FFFFFF;
  padding: 0px 20px; /* 0px 15px */
  /* button to link*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  text-decoration: none;
  /* transitions que je veux appliquer sur ce bouton/lien*/
  transition: opacity 0.3s ease-in-out, box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.btn-purple:hover {
  box-shadow: 1px 1px 20px 1px #c9c7c7;
  opacity: 0.8;
  transform: scale(1.01);
}

.steps-card {
  position: relative;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25px;
  height: 72px;
  border-radius: 25px;
}
.steps-card .icon {
  color: #7E7E7E;
  font-size: 20px;
}
.steps-card .icon:hover {
  color: #9356DC;
}
.steps-card p {
  font-weight: bold;
}
@media (min-width: 768px) {
  .steps-card {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    width: 30%;
  }
}
@media (min-width: 1024px) {
  .steps-card {
    width: 30%;
  }
}

.card-link {
  text-decoration: none;
  color: inherit;
}

.cards {
  position: relative;
  background-color: #FFFFFF;
  border-radius: 25px;
  gap: 20px;
}
@media (min-width: 768px) {
  .cards {
    width: 45%;
  }
}
@media (min-width: 1024px) {
  .cards {
    width: 45%;
  }
}
.cards .cards-image {
  height: 231px;
  border-radius: 25px 25px 0px 0px;
}
.cards .cards-information {
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: none;
  justify-content: center;
  gap: 15px;
  justify-content: space-between;
}
.cards .cards-information .cards-title {
  font-size: 18px;
}
.cards .cards-information .cards-text {
  font-size: 17px;
  font-weight: lighter;
}

.heart {
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: center;
  gap: normal;
  /* enlever le border et background-color du bouton */
  border: none;
  background: none;
  /* superposer les icones. ici, c'est le point d'encrage */
  position: absolute;
  /* indiquer coordonnées de superposition à l'element absolute */
  top: 85%;
  right: 5%;
  /* dimensions du bouton*/
  height: 24px;
  width: 24px;
  /* full, c'est l'icone rempli */
  /* au survol du bouton heart ...*/
}
.heart a {
  pointer-events: none;
}
.heart i {
  /* se superpose selon les coordonnées*/
  position: absolute;
  font-size: 24px;
  /* on veux que la transition opacity s'applique sur le i.*/
  transition: opacity 1s ease-in-out;
}
.heart .full {
  /* on ne veux pas le voir */
  opacity: 0;
  /* mais en réalité il à cette couleur */
  background: linear-gradient(#FF79DA, #9356DC);
  /* on veux que notre couleur(background) prenne le meme espace que prend le texte(i) peu importe le navigateur */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.heart:hover {
  /* tout ce qu'il y a dans la classe empty n'est plus visible*/
  /*tout ce qu'il y a dans la classe full est visible*/
}
.heart:hover .empty {
  opacity: 0;
}
.heart:hover .full {
  opacity: 1;
}

/****** UTILS ***********/
/****** FOOTER ***********/
.footer {
  background-color: #353535;
  color: #FFFFFF;
}
.footer .title {
  font-family: "Shrikhand", "cursive";
  font-size: 18px;
  font-weight: normal;
  padding: 15px 15px 0px 15px;
}
@media (min-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    padding: 20px 15px;
  }
  .footer .title {
    padding: 0px 15px 0px 15px;
  }
}
@media (min-width: 1024px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    padding: 25px 30px; /* 40px 30px*/
    gap: 16px;
  }
  .footer .title {
    padding: 0px 15px 0px 15px;
  }
}

.footer-list {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 10px;
}
.footer-list .footer-links a {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: #FFFFFF;
  text-decoration: none;
}
@media (min-width: 768px) {
  .footer-list {
    flex-direction: row;
    gap: 35px;
    align-items: flex-end;
    padding: 0px; /*15*/
  }
}
@media (min-width: 1024px) {
  .footer-list {
    flex-direction: row;
    gap: 35px;
    align-items: flex-end;
    padding: 0px; /*15*/
  }
}

.proposition-and-partnership, .information-and-contact {
  display: flex;
  gap: 15px;
  flex-direction: column;
}
@media (min-width: 768px) {
  .proposition-and-partnership, .information-and-contact {
    display: flex;
    gap: 7px;
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
  .proposition-and-partnership, .information-and-contact {
    display: flex;
    gap: 7px;
  }
}

.font-bold {
  font-weight: bold;
}

.font-light {
  font-weight: lighter;
}

/****** BODY ***********/
.main-container {
  gap: 0px;
}

@media (min-width: 768px) {
  .main-content {
    background-color: #FFFFFF;
  }
}

.main-image {
  width: 100%;
  max-height: 250px;
}
@media (min-width: 768px) {
  .main-image {
    height: 340px;
  }
}

.return {
  position: absolute;
  top: 25px;
  left: 25px;
}
.return a {
  text-decoration: none;
  color: black;
}
.return i {
  font-size: 24px;
}

.selection {
  background-color: #F6F6F6;
  border-radius: 25px 25px 0px 0px;
  position: relative;
  bottom: 50px;
  padding: 20px 15px 0px 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: normal;
  gap: 40px;
  padding-bottom: 40px;
  margin-bottom: -49px;
}
.selection h2 {
  font-family: "Shrikhand", "cursive";
  font-size: 28px;
  font-weight: normal;
}
.selection .heart {
  top: 28px;
  right: 28px;
}
.selection .btn {
  align-self: center;
}
.selection .btn-purple {
  padding: 0px 45px;
}
@media (min-width: 768px) {
  .selection {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }
  .selection .heart {
    right: 150px;
  }
}
@media (min-width: 1024px) {
  .selection {
    width: 40%;
    padding: 45px 250px 40px 250px;
  }
  .selection .heart {
    right: 344px;
    top: 54px;
  }
}

.selection-description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.selection-description .heart {
  position: initial;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: normal;
  gap: 40px;
  width: 100%;
}
.menu .starter, .menu .main-course, .menu .dessert {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: normal;
  gap: 12px;
  width: inherit;
}
.menu .starter h3, .menu .main-course h3, .menu .dessert h3 {
  font-family: "Roboto", "sans-serif";
  font-size: 16px;
  font-weight: lighter;
  text-transform: uppercase;
}
.menu .menu-cards {
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: normal;
  gap: 20px;
  width: inherit;
}
.menu .menu-deco {
  background-color: #99E2D0;
  width: 40px;
  height: 2px;
  border: 1px solid #99E2D0;
}

/* SLIDER ANIMATION */
.starter .menu-cards {
  animation: slide 1s ease;
}

.main-course .menu-cards {
  animation: slide 1.3s ease;
}

.dessert .menu-cards {
  animation: slide 1.5s ease;
}

@keyframes slide {
  0% {
    transform: translateX(-600px);
  }
  100% {
    transform: translateX(0px);
  }
}
.menu-cards .cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0px;
  background-color: #FFFFFF;
  border-radius: 15px;
  /* sert à caché les bords qui depasse de la div check */
  overflow: hidden;
}
.menu-cards .cards .name {
  font-family: "Roboto", "sans-serif";
  font-size: 18px;
  font-weight: normal;
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 15px;
}
.menu-cards .cards .name .title, .menu-cards .cards .name .complement {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}
.menu-cards .cards .name .complement {
  font-family: "Roboto", "sans-serif";
  font-size: 15px;
  font-weight: light;
}
.menu-cards .cards .price {
  position: absolute;
  top: 35px;
  right: 20px;
  transition: transform 1s ease;
}
.menu-cards .cards .price p {
  font-family: "Roboto", "sans-serif";
  font-size: 15px;
  font-weight: bold;
}
.menu-cards .cards .check {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: none;
  height: 70px;
  width: 70px;
  background-color: #99E2D0;
  right: 0;
}
.menu-cards .cards .check i {
  color: #FFFFFF;
  font-size: 25px;
}
.menu-cards .cards .moved {
  transform: translateX(70px);
  transition: transform 1s ease;
}
.menu-cards .cards:hover .name .title, .menu-cards .cards:hover .name .complement {
  max-width: calc(100% - 70px);
}
.menu-cards .cards:hover .price {
  transform: translateX(-70px);
}
.menu-cards .cards:hover .moved {
  transform: translateX(0);
}
@media (min-width: 768px) {
  .menu-cards .cards {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .footer-list {
    gap: 10px;
  }
}/*# sourceMappingURL=restaurants.css.map */