/****** UTILS ***********/
@import '../sass/utils/index';

/****** COMPONENTS ***********/
@import '../sass/components/header';
@import '../sass/components/card';
@import '../sass/components/footer';



/****** BODY ***********/
.main-container {
   gap:0px;
}

.main-content {
    @media (min-width: $tablet) {
       background-color: $white;
    }
}

.main-image {
    width: 100%;
    max-height: 250px;
    
    @media (min-width: $tablet) {
        height: 340px;
    }
}

.return {
    position: absolute;
    top: 25px;
    left: 25px;
    a {
        @include font-link();
    }

    i {
        font-size: 24px;
    }
}


.selection {
    background-color: $light-grey;
    border-radius: 25px 25px 0px 0px;
    position: relative;
    bottom: 50px;
    padding: 20px 15px 0px 15px;
    @include flex($direction:column,$align:flex-start,$justify:normal,$gap:40px);

    padding-bottom: 40px;
    margin-bottom: -49px;

    h2 {
        @include typo();
    }

    .heart {
        top: 28px;
        right: 28px;
    }

    .btn {
        align-self: center;
        &-purple {
            padding: 0px 45px;
        }
    }

    @media (min-width: $tablet) {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        align-items:center;

        .heart {
            right: 150px;
        }
    }

    @media (min-width: $desktop) {
        width: 40%;
        padding: 45px 250px 40px 250px;

        .heart {
            right: 344px;
            top: 54px;
        }
    }
}

.selection-description{
    @include flex($justify:space-between,$gap:30px);
    // width: 90%;

    .heart {
        position: initial;
    }
}

.menu {
    @include flex($direction:column,$align:flex-start,$justify:normal,$gap:40px);
    width: 100%;

    .starter, .main-course, .dessert {
    @include flex($direction:column,$align:flex-start,$justify:normal,$gap:12px);
    width: inherit;
        h3 {
            @include typo($font: $font-text, $size: 16px, $weight: lighter);
            text-transform: uppercase;
        }
    }

    .menu-cards {
        @include flex($direction:column,$align:normal,$justify:normal,$gap:20px);
        width: inherit;
    }

    .menu-deco {
        background-color: #99E2D0;
        width: 40px;
        height: 2px;
        border: 1px solid #99E2D0;
    }
}

/* SLIDER ANIMATION */
.starter .menu-cards {
    animation: slide 1s ease;
}

.main-course .menu-cards {
    animation: slide 1.3s ease;
}

.dessert .menu-cards {
    animation: slide 1.5s ease;
}

@keyframes slide {
    0%{
        transform: translateX(-600px);
    }

    100%{
        transform: translateX(0px);
    }
}

.menu-cards .cards {
    @include flex($justify:space-between,$gap:0px);
    background-color: $white;
    border-radius: 15px;
    @extend .shadow;
    /* sert à caché les bords qui depasse de la div check */
    overflow: hidden;

    .name {
        @include typo($font: $font-text, $size: 18px, $weight: normal);
        width: 80%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 15px;
    
            .title, .complement {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                width: 100%;
            }
    
            .complement {
            @include typo($font: $font-text, $size: 15px, $weight: light);
            }
    }

    .price {
        position: absolute; 
        top: 35px; 
        right: 20px;
        transition: transform 1s ease;
        
            p {
            @include typo($font: $font-text, $size: 15px, $weight: bold);
            }
    }

    .check {
        @include flex($justify:center,$gap:none);
        height: 70px;
        width: 70px;
        background-color: #99E2D0;
        right: 0;
        
        i {
            color: $white;
            font-size: 25px;
        }
        
    }

    .moved {
        transform: translateX(70px);
        transition: transform 1s ease;
    }

    &:hover {
        .name{
            .title, .complement {
                max-width: calc(100% - 70px);

            }
        }
        .price {
        transform: translateX(-70px);
        }
        .moved{
            transform: translateX(0);
        }
    }

    @media (min-width: $tablet) {
        width: 100%;
    }
}

.footer-list {
    @media (min-width: $tablet) {
        gap: 10px;
    }
}