/****** UTILS ***********/
@import '../sass/utils/index';

/****** COMPONENTS ***********/
@import '../sass/components/header';
@import '../sass/components/card';
@import '../sass/components/footer';



/****** BODY ***********/
.main-container {
   gap:0px;
}

.main-content {
    @media (min-width: $tablet) {
       background-color: $white;
    }
}

.main-image {
    width: 100%;

    @media (min-width: $tablet) {
        height: 340px;
    }
}

.return {
    position: absolute;
    top: 25px;
    left: 25px;
    a {
        @include font-link();
    }

    i {
        font-size: 24px;
    }
}


.selection {
    background-color: $light-grey;
    border-radius: 25px 25px 0px 0px;
    position: relative;
    bottom: 50px;
    padding: 20px 15px 0px 15px;
    @include flex($direction:column,$align:flex-start,$justify:normal,$gap:40px);

    padding-bottom: 40px;
    margin-bottom: -49px;

    h2 {
        @include typo();
       
    }

    .heart {
        top: 28px;
        right: 28px;
    }

    .btn {
        align-self: center;
        &-purple {
            padding: 0px 45px;
        }
    }

    @media (min-width: $tablet) {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        align-items:center;

        .heart {
            right: 150px;
        }
    }

    @media (min-width: $desktop) {
        width: 40%;
        padding: 45px 250px 40px 250px;

        .heart {
            right: 344px; /* 377 */
            top: 54px;
        }
    }
}

.menu {
    @include flex($direction:column,$align:flex-start,$justify:normal,$gap:40px);
    width: 100%;

    .starter, .main-course, .dessert {
    @include flex($direction:column,$align:flex-start,$justify:normal,$gap:12px);
    width: inherit;
        h3 {
            @include typo($font: $font-text, $size: 16px, $weight: lighter);
            // width: inherit;
            text-transform: uppercase;
            // text-decoration: underline solid 5px #99E2D0;
            // border-bottom: solid 5px #99E2D0;
            /*test*/
            // transform: translateX(-10%);
        }
    }

    .menu-cards {
        @include flex($direction:column,$align:normal,$justify:normal,$gap:20px);
        width: inherit;
        /* SLIDER ANIMATION */
        animation: slide 1s ease;

        @keyframes slide {
            0%{
                transform: translateX(-600px);
            }

            100%{
                transform: translateX(0px);
            }
        }
    }

    .menu-deco {
        background-color: #99E2D0;
        width: 40px;
        height: 2px;
        border: 1px solid #99E2D0;
    }
}

.menu-cards .cards {
    @include flex($justify:space-between,$gap:0px); /*5 */
    background-color: $white;
    border-radius: 15px;
    /* padding: 15px;*/
    @extend .shadow;
    /* sert à caché les bords qui depasse de la div check */
    overflow: hidden;

    .name {
        @include typo($font: $font-text, $size: 18px, $weight: normal);
        width: 80%; /* 90 */
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 15px;
    
            .title, .complement {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                width: 100%;
            }
    
            .complement {
            @include typo($font: $font-text, $size: 15px, $weight: light);
            }
    }

    .price {
        position: absolute; 
        top: 35px; 
        right: 20px;
        // width: 10%; /*10*/
        transition: transform 1s ease;
        
            p {
            @include typo($font: $font-text, $size: 15px, $weight: bold);
            }
    }

    .check {
        @include flex($justify:center,$gap:none);
        height: 70px; /* 67 */
        width: 70px; /* 10 */
        background-color: #99E2D0;
        //position: absolute; mettre space-between
        right: 0;
        


        i {
            color: $white;
            font-size: 25px;
        }
        
    }

    .moved {
        transform: translateX(70px); /* 50 */
        transition: transform 1s ease;

    }

    &:hover {
        .name{
            .title, .complement {
                max-width: calc(100% - 70px); /* 100% - 50px*/

            }
        }
        .price {
        transform: translateX(-70px); /* -50*/
        }
        .moved{
            transform: translateX(0);
        }
    }

    @media (min-width: $tablet) {
        width: 100%;
    }
}

.footer-list {
    @media (min-width: $tablet) {
        gap: 10px;
    }
}

// .starter .menu-cards {
//     transition: transform 1s ease;
//     transform: translateX(-400px);
//     @keyframes like {
//        75% {
//         transform: scale(1.25);
//         }
//     } 
// }

// .main-course .menu-cards {
//     transition: transform 2s ease;
//     transform: translateX(-400px);
// }

// .dessert .menu-cards {
//     transition: transform 3s ease;
//     transform: translateX(-400px);
// }