.steps-card {
    position: relative;
    background-color: $light-grey;
    @include flex($gap:25px);
    @extend .shadow;
    height: 72px;
    border-radius: 25px;
    .icon {
        color: $grey;
        font-size: 20px;
        &:hover {
            color: $round-background;
        }
    }
    p {
        font-weight: bold;
    } 
    
    @media (min-width: $tablet) {
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        width: 30%;
    }

    @media (min-width: $desktop) {
        width: 30%;
    }
}

.card-link {
    text-decoration: none;
    color: inherit;
}


.cards {
    position: relative;
    background-color: $white;
    border-radius: 25px;
    gap: 20px;

    
    @media (min-width: $tablet) {
        width: 45%;
    }

    @media (min-width: $desktop) {
        width: 45%;
    }

    .cards-image {
    height: 231px;
    border-radius: 25px 25px 0px 0px;
    }
    .cards-information {
        padding: 15px;
        @include flex($direction:row,$align:none,$justify:center,$gap:15px);
        justify-content:space-between;
        .cards-title {
        font-size: 18px;
        }
        .cards-text {
        font-size: 17px;
        font-weight: lighter;
        }
    }
}


.heart {
    @include flex($direction:column,$align:normal,$justify:center,$gap:normal);
    /* enlever le border et background-color du bouton */
    border: none; 
    background: none;
    /* superposer les icones. ici, c'est le point d'encrage */
    position: absolute;
    /* indiquer coordonnées de superposition à l'element absolute */
    top: 85%;
    right: 5%;
    /* dimensions du bouton*/
    height: 24px; 
    width: 24px;

    a {
        pointer-events: none;
    }

    i {
        /* se superpose selon les coordonnées*/
        position: absolute; 
        font-size: 24px;
        /* on veux que la transition opacity s'applique sur le i.*/
        transition: opacity 1s ease-in-out; 
    }
    /* full, c'est l'icone rempli */
    .full {
        /* on ne veux pas le voir */
        opacity: 0;
        /* mais en réalité il à cette couleur */
        background: linear-gradient(#FF79DA, #9356DC);
        /* on veux que notre couleur(background) prenne le meme espace que prend le texte(i) peu importe le navigateur */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
    }
    /* au survol du bouton heart ...*/
    &:hover {
        /* tout ce qu'il y a dans la classe empty n'est plus visible*/
        .empty {
            opacity: 0;
        }
        /*tout ce qu'il y a dans la classe full est visible*/
        .full {
            opacity: 1;
        }
    }  
}


/****** UTILS ***********/




    //  transition: transform 450ms 150ms;@keyframes like {
    //     75% {
    //         transform: scale(1.25);
    //     }
    // }
    // @keyframes dislike {
    //     75% {
    //         transform: scale(0.75);
    //     }
    // }

    // label i {
    //     animation: dislike 0.5s ease 0s;
    // }
    // input:checked + label i {
    //     animation:like 0.5s ease 0s;
    //     background: linear-gradient(#FF79DA, #9356DC);
        
    // }
    // #liked {
    //     width: 0px;
    //     height: 0px;
    // }