/* Agrandir element */
.element {
    transition-property: transform;
    transition-duration: 400ms;
    /* transition: transform 400ms; */
    &:hover {
        transform: scale(1.15);
    }
}

/* Agrandir le frere d'un element */
/* concretement ici, le click est mis sur element, mais la transition se manifeste sur frere*/
.element {
    &:active + .frere {
        transform: scale(1.0);
    }
}

.frere {
    width: $ball-size;
    height: $ball-size;
    background: $cd-secondary;
    margin-bottom: 1rem;
    border-radius: $ball-size * 0.5;
    transform: scale(0.1);
    transition: transform 4000ms;
}

/* Focus + erreur sur un input */
.input {
    transition: background-color 500ms;
    &:focus {
        border: 2px solid $cd-txt;
    }
    &:not(:focus):invalid { /* not permet à l'utilisateur de finir d'ecrire sans etre interompu par l'animation provoqué par :invalid*/
        background: $cd-danger;
        border: 2px solid $cd-danger;
        color: $cd-txt--invalid;
    }
}

