nav {
    background-color: $white;
    padding: 15px;
    .title {
        @include typo($size:30px); /* j'ai uniquement mis le parametre à modifier)*/
    }
    a {
        text-decoration: none;
        color: black;
    }
}
