.navigation-and-location {
    @include flex($direction:row-reverse,$gap:0px, $justify:normal);
    background-color: $white;
}

nav {
    width: 90%;
   .title {
        @include flex($direction:row-reverse,$gap:0px, $justify:center);
    }
}

.return {
    width: 10%;
    i {
        font-size: 24px;
    }
}
