* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    object-fit: cover;
}

/****** BODY / GENERAL ***********/
.main-container {
    min-width: 375px;
    max-width: 1440px;
    margin: auto;
    gap: 30px;
    background-color: #D2D2D2;
}

/****** Les listes ***********/
/* aucuns ne possedent de puces */
li {
    list-style-type: none;
}

/****** Les images ***********/
/* toutes les images(element) ne depasse le cadre pas leur section(block) */
section img {
    width: 100%;
}

/****** Les titres ***********/
/* tous sont en gras */
/* h1, h2, h3, h4 {
    font-weight: bold;
} */

/* tous possedent tous la meme police Shrikhand */
h1, h2, h4 {
    font-family: 'Shrikhand', cursive;
}

/* sauf les h3 */
h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

/****** Les boutons ***********/
/* tous sont en gras */
button {
    color: #FFFFFF;
    border: none;
    width: 70%;
    height: 50px;
    border-radius: 25px;
    margin: 30px;
    font-size: 16px;
    background: linear-gradient(#FF79DA,#9356DC);

}

/****** HEADER ***********/
/* tous les elements sont centrés */
/* header (media queries) {
    display: flex;
    flex-direction: column;
    gap: 15px;
} */

header *  {
    text-align: center;
}

nav {
    background-color: #FFFFFF;
    padding: 15px;
}

.header__location {
    background-color: #EAEAEA;
    padding: 15px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
}

.header_location p {
    font-size: 16px;
}

.header__reservation {
    background-color: #F6F6F6;
    padding: 30px; /* 15px */
    display:flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.header__reservation p {
    font-size: 18px;
    font-weight: lighter;
}


/****** MAIN ***********/
.main-content {
   background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/****** STEPS SECTION ***********/
.steps__section {
    background-color: #FFFFFF;
    padding: 18px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.steps__title {
    margin-top: 15px;
}

.steps__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.list__item {
    height: 72px;
    background-color: #F6F6F6;
    border-radius: 25px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
      
}

.item__description {
    font-weight: bold;
}

.icon {
    color: #7E7E7E;
}

/****** RESTAURANTS SECTION ***********/
.restaurants__section {
    padding: 18px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

.restaurants__title {
    margin-top: 15px;
}

.restaurants__cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cards {
    background-color: #FFFFFF;
    border-radius: 25px;
    gap: 20px;

}

.cards_information {
    padding: 15px;
}

.cards__image {
    height: 231px;
    border-radius: 25px 25px 0px 0px;
}

.cards__title {
    font-size: 18px;
}

.cards__text {
    font-size: 17px;
    font-weight: lighter;
}



.footer__section {
    background-color: #353535;
    color: #FFFFFF;
}

.footer__title {
    font-size: 18px;
    padding: 15px 15px 0px 15px;
    font-weight: normal;
}

.footer__list {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
}

.footer__list__item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    
}