@mixin flex($direction:row,$align:center,$justify:center,$gap:15px){
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
    gap: $gap;
}

@mixin typo($font: $font-title, $size: 28px, $weight: normal){
    font-family: $font;
    font-size: $size;
    font-weight: $weight;
}

@mixin margins($margin:0px,$padding:0px){
    margin: $margin;
    padding: $padding;
}

@mixin position($top:0px,$left:0px,$right){
    position: relative;
    top: $top;
    left: $left;
    right: $right;
}

@mixin button($width:70%,$height:50px,$border:none,$radius:25px){
    cursor: pointer;
    width: $width;
    height: $height;
    border: $border;
    border-radius: $radius;
}